@model ExploreThrill.Core.Entities.Concrete.MyUser

@{
    ViewData["Title"] = "Kullanıcı Detayları";
}

<div class="container mt-5">
    <h2>Kullanıcı Detayları</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Kullanıcı Adı: @Model.UserName</h5>
            <p class="card-text">Email: @Model.Email</p>
            <p class="card-text">T.C. Kimlik No: @Model.TcNo</p>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Index", "User")" class="btn btn-primary">Geri</a>
        </div>
    </div>
</div>
