<div class="container mt-5">
    <h1 class="text-center mb-4">Admin Panel</h1>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-header bg-primary text-dark">
                    
                    Activity Management
                </div>
                <div class="card-body">
                    <a class="btn btn-success btn-block mb-2" asp-controller="Activity" asp-action="Create">Create</a>
                    <a class="btn btn-warning btn-block mb-2" asp-controller="Activity" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger btn-block" asp-controller="Activity" asp-action="Delete">Delete</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-header bg-primary text-dark">
                 
                    Category Management
                </div>
                <div class="card-body">
                    <a class="btn btn-success btn-block mb-2" asp-controller="Category" asp-action="Create">Create</a>
                    <a class="btn btn-warning btn-block mb-2" asp-controller="Category" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger btn-block" asp-controller="Category" asp-action="Delete">Delete</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-header bg-primary text-dark">
                    
                    Company Management
                </div>
                <div class="card-body">
                    <a class="btn btn-success btn-block mb-2" asp-controller="Company" asp-action="Create">Create</a>
                    <a class="btn btn-warning btn-block mb-2" asp-controller="Company" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger btn-block" asp-controller="Company" asp-action="Delete">Delete</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center shadow">
                <div class="card-header bg-primary text-dark">
                    
                    City Management
                </div>
                <div class="card-body">
                    <a class="btn btn-success btn-block mb-2" asp-controller="City" asp-action="Create">Create</a>
                    <a class="btn btn-warning btn-block mb-2" asp-controller="City" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger btn-block" asp-controller="City" asp-action="Delete">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
